<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="login.css">

</head>
<body>
    <div class="wrapper">
        <div class="header">Login to <span>Bitmain</span></div>
        <form action="" method="post">
            <ul>
                <li>
                    <div class="text">
                        <span class="username"></span><input type="text" placeholder="username">
                    </div>
                </li>
                <li>
                    <div class="password">
                        <span class="mima"></span><input type="password" placeholder="••••••••••••••">
                    </div>
                </li>
                <li class="remember">
                    <input type="checkbox">Remember Me
                </li>
                <li>
                    <a href="">Forgot username or password?</a>
                </li>
                <li>
                    <input type="button" value="登录" onclick=login()>
                </li>
            </ul>
        </form>
        <div class="footer">
            <p>Equipment management system <a href="">Copyright ©2018  Chen</a></p>
            <p><a href=""> Home</a> | <a href="">Bolg
            </a> | <a href="">Work</a> | <a href="">Terms of Use</a> | <a href="">Contact Me</a></p>
        </div>
    </div>
</body>

<script>
function login()
{
    //"<li><span><a href=Query.html></a>登录到管理员系统</span></li>"


}
</script>


</html>